@font-face {
  font-family: "iconfont"; /* Project id 2948536 */
  src: url('iconfont.woff2?t=1641140122003') format('woff2'),
       url('iconfont.woff?t=1641140122003') format('woff'),
       url('iconfont.ttf?t=1641140122003') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fanhui:before {
  content: "\e60b";
}

.icon-daohang:before {
  content: "\e611";
}

.icon-biaoqian:before {
  content: "\e67e";
}

.icon-fenlei:before {
  content: "\e60c";
}

.icon-fenlei1:before {
  content: "\e6b3";
}

.icon-biaoqing:before {
  content: "\e601";
}

.icon-star-fill:before {
  content: "\e86a";
}

.icon-tupian:before {
  content: "\e8ba";
}

.icon-dingwei1:before {
  content: "\e8ae";
}

.icon-dingwei:before {
  content: "\e692";
}

.icon-jiantouzuo:before {
  content: "\e710";
}

.icon-jiantouyou:before {
  content: "\e715";
}

.icon-Icon-guankanliang:before {
  content: "\e622";
}

.icon-pinglun:before {
  content: "\e600";
}

.icon-dianzan:before {
  content: "\ec7f";
}

